.filter-container{
    margin:137px 0 199px 133px;
}
.filter-title {
  font-size: 24px;
  line-height: 28px;
  color: #787878;
 
}

.filter-item{
    font-size: 55px;
    border-bottom: 1px solid ;
}
 .active{
    border: none;
}
.filter-item:nth-child(2){
   margin: 0 30px;
}